<%- include("partials/header.ejs") %>
<div class="location-form">
  <div id="location-header">
    <h2>Sunscreen Today Application</h2>
  </div>
  <form action="/" method="POST">
    <label for="title">Location:</label>
    <input type="text" id="location" name="location" required />
    <p id="warning-text">Please enter the name of city!</p>
    <input type="submit" value="Search" />
  </form>
</div>

<div class="message-container">
  <% if(locals.content) { %>
  <h3 class="message">Test</h3>
  <% } %> <% if(locals.error) { %>
  <h3 class="message"><%= error %></h3>
  <% } %>
</div>
<%- include("partials/footer.ejs") %>
