<%- include("partials/header.ejs") %>
<div class="location-form">
  <div id="location-header">
    <h2>Sunscreen Today Application</h2>
  </div>
  <form action="/" method="POST">
    <label for="title">Location:</label>
    <input type="text" id="location" name="location" required />
    <p id="warning-text">Please enter the name of city!</p>
    <input type="submit" value="Search" />
  </form>
</div>

<div class="message-container">
  <% if(typeof locals.uv !== 'undefined') { %> <% if(locals.uv >= 2) { %>
  <h3 class="message">You need to apply sunscreen today!</h3>
  <% } else { %>
  <h3 class="message">
    You <span class="underline">DON'T</span> need to apply sunscreen today!
  </h3>
  <% } %> <% } %> <% if(typeof locals.error !== 'undefined') { %>
  <h3 class="message"><%= locals.error %></h3>
  <% } %>
</div>

<%- include("partials/footer.ejs") %>
